*{
    margin: 0;
    padding: 0;
    
}
html{
    overflow-y: hidden;
}

body{
    height: 100vh;
    width: auto;
    overflow: scroll;

}
.container{
    display: flex;
    width: 400vw;
    height: 100vh;

    
}
.content{
    padding-top: 8rem ;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y:scroll;
    
}
p{
    /* padding-bottom: 8rem; */
    text-align: left;
    width: 60%;
    font-size: 1.3rem;
    
}
body::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 450px){
p{
    width: 80%;
    font-size: 1rem;padding-top: ;
}
.content{
    padding: 4rem 1rem;
}
}